ibpc_pose_estimator_py/ibpc_pose_estimator_py/__pycache__/
ibpc_tester/ibpc_tester/__pycache__/
models/
*.__pycache__
*.pyc
*.egg-info
dist/
*.log
ipd_base.zip
ipd_models.zip
ipd_val.zip
ipd/*
sam/data/*
sam/results/*
sam/sam_vit_*
sam/lightning_logs
maskRCNN-resnet-50-fpn/results/*.pth
maskRCNN/output/*.pth
maskRCNN/output/*.jpg
datasets/
maskRCNN/output
maskRCNN-resnet-50-fpn/results
sam/results
sam/scripts/predictions
initial_pose_estimation/results
initial_pose_estimation/indices
pcl_builder/output/*
roi_extraction/output
pointcloud_registration/results
pointcloud_registration/debug
maskRCNN/results
pointcloud_registration/registration_results
initial_pose_estimation/results
initial_pose_estimation/output
reproject/output
pose_estimation_pipeline/registration_results
